# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
/nbproject/private/
/nbproject
/.settings/
sites/default/modules/krpano/panoramas/*.xml
sites/all/modules/gmap/markers/
