/* CSS code goes here */
/*DEVEL*/
.krumo-root {
  color:#000;
}
/*END DEVEL*/


/* Global */
.html {
  background-color: #000;
  color: #FFF;
}

.hidden {
  display: none;
}

#page {
  padding: 15px;
}
#page-wrapper {
	border-color: #FFFFFF;
  border-style: solid;
  border-width: 1px;
  min-height: 565px;
  margin: 22px auto 0;
  width: 960px;
  background-color: #000;
}
#content {
  min-height: 350px;
}
.block-menu h2 {
  display: none;
}

body {
  font: 12px/1.3 Verdana,sans-serif;
  font-size: 12px;
}

li a.active {
    color: #FFFFFF;
}

.region.region-footer {
  line-height: 25px;
}

#main .content .node.node-page.view-mode-full.clearfix {
  min-height: 350px;
}

.page-title {
  margin-bottom: 25px;
  font-size: 25px;
  font-weight: bold;
}

.green {
  color: #9BB43C;
  font-weight: bold;
}
/*Homepage*/
#block-menu-menu-homepage .menu {
  margin-bottom: 30px;
  margin-top: 55px;
  text-align: center;
  width: 90%;
}

#block-menu-menu-homepage li {
  display: inline;
  margin-right: 25px;
}

#block-menu-menu-homepage a {
  color: transparent;
  display: inline-block;
  height: 21px;
  width: 81px;
}

#block-menu-menu-homepage .mobile {
  background-image: url("../images/intro_app_01.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  float: left;
  height: 37px;
  margin-top: -10px;
  width: 36px;
}

#block-menu-menu-homepage .english {
  background-image: url("../images/intro_english_02.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  margin-left: -45px;
}

#block-menu-menu-homepage .spanish {
  background-image: url("../images/intro_espanol_03.jpg");
  background-position: center top;
  background-repeat: no-repeat;
}

.front .field-name-field-homepage-image .field-items .field-item {
  float: left;
  margin-left: 24px;
}

.front .field-name-field-homepage-logo {
  float: left;
  margin-top: 30px;
}
/*End Homepage*/

/*Backpages menu*/
#block-menu-menu-main-menu-espa-ol ul,
#block-menu-menu-main-menu-english ul {
  padding: 0;
  margin-left: -25px;
  background-color: #9BB43C;
  height: 35px;
  width: 960px;
}
#block-menu-menu-main-menu-espa-ol li.leaf,
#block-menu-menu-main-menu-english li.leaf {
  list-style: none;
  padding: 0;
  margin: 0;
}

#block-menu-menu-main-menu-espa-ol li a,
#block-menu-menu-main-menu-english li a {
  list-style: none;
  height: 28px;
  float: left;
  margin-left: 10px;
  padding-left: 40px;
  padding-top: 7px;
  background-repeat: no-repeat;
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: normal;
}

.menu-home {
  background-image: url("../images/menu_inicio.png");
}

.menu-home:hover {
  background-image: url("../images/menu_inicio_over.png");
}

.menu-sign-in,
.menu-sign-out {
  background-image: url("../images/menu_registrarse.png");
}

.menu-sign-in:hover,
.menu-sign-out:hover {
  background-image: url("../images/menu_registrarse_over.png");
}

.menu-sign-in.active,
.menu-sign-out.active {
  background-image: url("../images/menu_registrarse_over.png");
}

.menu-favorites {
  background-image: url("../images/menu_favoritos.png");
}

.menu-favorites:hover {
  background-image: url("../images/menu_favoritos_over.png");
}

.menu-favorites.active {
  background-image: url("../images/menu_favoritos_over.png");
}

.menu-map {
  background-image: url("../images/menu_mapa.png");
}

.menu-map:hover {
  background-image: url("../images/menu_mapa_over.png");
}

.menu-map.active {
  background-image: url("../images/menu_mapa_over.png");
}

.menu-hotels {
  background-image: url("../images/menu_hoteles.png");
}

.menu-hotels:hover {
  background-image: url("../images/menu_hoteles_over.png");
}

.menu-hotels.active {
  background-image: url("../images/menu_hoteles_over.png");
}

.menu-restaurants {
  background-image: url("../images/menu_restaurantes.png");
}

.menu-restaurants:hover {
  background-image: url("../images/menu_restaurantes_over.png");
}

.menu-restaurants.active {
  background-image: url("../images/menu_restaurantes_over.png");
}

.menu-ranking {
  background-image: url("../images/menu_ranking.png");
}

.menu-ranking:hover {
  background-image: url("../images/menu_ranking_over.png");
}

.menu-ranking.active {
  background-image: url("../images/menu_ranking_over.png");
}

.menu-contact {
  background-image: url("../images/menu_contacto.png");
}

.menu-contact:hover {
  background-image: url("../images/menu_contacto_over.png");
}

.menu-contact.active {
  background-image: url("../images/menu_contacto_over.png");
}

.menu-news {
  background-image: url("../images/menu_noticias.png");
}

.menu-news:hover {
  background-image: url("../images/menu_noticias_over.png");
}

.menu-news.active {
  background-image: url("../images/menu_noticias_over.png");
}

.region-header {
  
}

#block-views-top-publicity-view-block {
  float: left;
  overflow: hidden;
}

#block-views-logo-block {
  float: left;
  margin-left: 160px;
}

#block-menu-menu-main-menu-espa-ol,
#block-menu-menu-main-menu-english {
  float: left;
}

.view-id-top_publicity_view .jcarousel-container.jcarousel-container-vertical,
.view-id-top_publicity_view .jcarousel-clip.jcarousel-clip-vertical{
  height: 60px;
  width: 150px;
}

.view-id-top_publicity_view .jcarousel-next,
.view-id-top_publicity_view .jcarousel-prev {
  display: none !important;
}

#block-search-form {
  float: right;
  margin-right: 20px;
  margin-top: 10px;
}

#block-search-form .form-type-textfield input {
  background-color: #000000;
  border-style: none;
  color: #FFFFFF;
  float: left;
  font-size: 12px;
  height: 24px;
  margin-left: 10px;
  width: 145px;
}

#block-search-form .form-type-textfield {
  background-image: url("../images/search.png");
  background-repeat: no-repeat;
  background-position: 155px center;
  border: 2px solid #9DAF41;
  border-radius: 16px 16px 16px 16px;
  float: left;
  width: 190px;
}

#block-search-form .form-actions input {
  background: none repeat scroll 0 0 transparent;
  border-style: none;
  color: #FFFFFF;
  float: left;
  font-size: 12px;
  margin-left: -50px;
  margin-top: 50px;
  width: 50px;
}

.i18n-es #block-search-form .form-actions input:after {
  content: 'Buscar';
}

#block-menu-menu-footer-menu-spanish,
#block-menu-menu-footer-menu-english {
  margin: 0 auto;
  width: 490px;
}

#block-menu-menu-footer-menu-spanish li,
#block-menu-menu-footer-menu-english li {
  float: left;
  list-style: none;
}

.footer-copyright,
.footer-language,
.footer-intro,
.footer-smartphone {
  border-right: 1px solid;
  color: #FFFFFF;
  padding-right: 10px;
  text-decoration: none;
}

.footer-signout,
.footer-signin,
.footer-login {
  color: #FFFFFF;
  text-decoration: none;
}

/*End Backpages*/

/*Map page*/
.map-wrapper {
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.map-footer {
  background-color: #3C423F;
  float: left;
  height: 115px;
  margin-top: -115px;
  opacity: 0.9;
  width: 100%;
}

.map-footer.close {
  margin: 0;
  height: 15px;
  margin-top: -15px;
  display: inherit;
}

.map-footer-wrapper.close {
  display: none;
}

.map-footer-wrapper {
  margin: 10px;
  background-color: #181817;
  float: left;
  opacity: 0.9;
}

.map-footer .map-close-button {
  float: right;
  margin-top: -20px;
}

.map-close-button a {
    background-image: url("../images/btn_collapse.png");
    background-repeat: no-repeat;
    color: transparent;
    float: left;
    height: 20px;
    width: 93px;
}

.map-close-button .open {
  background-position: 0 -20px;
}

.map-footer-wrapper .category {
  float: left;
  margin: 10px 30px 10px 10px;
  width: 145px;
  vertical-align: bottom;
}
.check {
  float: left;
}

.map-footer-wrapper .category .icon {
  height: 28px;
  float: left;
  width: 28px;
}

.map-footer-wrapper .category .icon img,
.icon-image {
  height: 28px !important;
  width: 28px !important;
}

.map-footer-wrapper .category .title {
  float: left;
  text-transform: capitalize;
  padding-top: 8px;
  padding-left: 10px;
}

.map-footer-wrapper .category .check {
  float: left;
  padding-top: 5px;
}

.map-footer-wrapper .category-button {
    float: right;
    margin-right: 5px;
    margin-top: 20px;
}
.marker-wrapper {
  color: #000;
  text-align: center;
}
.marker-title a {
  color: #9AB33B;
  text-decoration: none;
  font-weight: bold;
}
.photo360 {
  background-image: url("../images/360.png");
  background-repeat: no-repeat;
  padding-left: 65px;
  padding-top: 5px;
}
.clasified {
}
.marker-description a {
  text-decoration: none;
  color: #9BB43C;
}
/*End map page*/

/*Copyright*/
.left-copyright {
  float: left;
  margin-left: 60px;
  margin-right: 40px;
  width: 350px;
}

.right-copyright {
  float: left;
  width: 350px;
}

.copyright .left-copyright .title,
.copyright .right-copyright .title {
  background-color: #58585A;
  color: #FFFFFF;
  font-size: 16px;
  padding: 15px;
  text-align: left;
}

.logos {
  background-color: #2F2F31;
  float: left;
  padding: 10px;
}

.logos a {
  color: transparent;
  float: left;
  height: 62px;
  margin-bottom: 10px;
  width: 330px;
}

.logo-captur {
  background-image: url('../images/logos/captur_logo.jpg');
}

.logo-mcpec {
  background-image: url('../images/logos/ministerio_coor_logo.jpg');
}

.logo-espe {
  background-image: url('../images/logos/espe_logo.jpg');
}

.credits-wrapper {
  font-size: 10px;
  padding:10px;
  color:#000;
  background-color: #2F2F31;
  float: left;
}

.credits {
  background-color: #FFFFFF;
  font-size: 9px;
  line-height: 10px;
  padding: 10px;
}
/*End Copyright*/

/*Smartphone*/
.mobile-content {
  background-color: #3A3A3C;
  height: 140px;
  margin: 0 auto;
  padding: 12px;
  width: 500px;
}

.mobile-content .block {
  height: 70px;
  margin-bottom: 2px;
  padding: 10px;
}

.mobile .links {
  background-color: #3A3A3C;
  float: left;
  height: 40px;
  padding-left: 12px;
  padding-top: 0;
  width: 500px;
}

.mobile-content .block.title {
  background-color: #000000;
  color: #FFFFFF;
  height: 30px;
  padding-top: 17px;
  text-align: center;
}

.mobile-content .links a {
  background-repeat: no-repeat;
  color: #6CC8C7;
  float: left;
  font-size: 16px;
  font-weight: bold;
  height: 44px;
  padding-left: 55px;
  padding-top: 10px;
  width: 100px;
}

.android {
  background-image: url('../images/smartphones/android-icon.png');
  margin-left: 15px;
}

.iphone {
  background-image: url('../images/smartphones/iphone-icon.png');
}

.blackberry {
  background-image: url('../images/smartphones/blackberry-icon.png');
}
/*End Smartphone*/

/*Coverflow Page*/
.mycoverflow {
  overflow: hidden;
  width: 940px;
}
.ui-jcoverflip {
  position: relative;
  margin-top: 300px;
}
      
.ui-jcoverflip--item {
  position: absolute;
  display: block;
}

#myimageflow_loading,
#myimageflow_loading_txt {
  display: none;
}

.coverflow-loader {
  background-image: url('../images/loader360.gif');
  height: 50px;
  width: 50px;
  margin: 160px auto;
}
/*End Coverflow*/

/*Image 360*/
.krpano-title {
  background-color: #9AB33A;
  color: #000000;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 14px;
  font-weight: bold;
  height: 25px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-top: 5px;
  text-align: center;
  text-decoration: none;
}

.krpano-wrapper a {
  color: #9AB33B;
  text-decoration: none;
}

.krpano-wrapper .title {
  background-color: #555557;
  font-size: 15px;
  height: 32px;
}

.krpano-wrapper .left-content {
  background-color: #3A3A3C;
  float: left;
  padding-bottom: 15px;
  width: 614px;
}

.krpano-wrapper .left-content .title {
  background-image: url("../images/informacion.png");
  background-position: 10px 50%;
  background-repeat: no-repeat;
  padding-left: 50px;
  padding-top: 10px;
}

.krpano-wrapper .logo,
.krpano-wrapper .detail {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 14px;
  line-height: 20px;
  padding-left: 10px;
  text-decoration: none;
}

.krpano-wrapper .logo {
  margin-top: 25px;
  margin-bottom: 25px;
}

.krpano-wrapper .bold {
  background-color: #3A3A3C;
  color: #76CBD1;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}

.krpano-wrapper .right-content {
  float: right;
  width: 274px;
}

.krpano-wrapper .right-content .share {
  background-color: #555557;
  font-family: Verdana,sans-serif;
  font-size: 15px;
  height: 32px;
  margin-bottom: 0;
  padding-left: 20px;
  padding-top: 10px;
  float: left;
  width: 93%;
}

.krpano-wrapper .right-content div {
  background-color: #3A3A3C;
  background-position: 15px 40%;
  background-repeat: no-repeat;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 14px;
  height: 40px;
  line-height: 20px;
  margin-bottom: 5px;
  padding-left: 70px;
  padding-top: 15px;
  text-decoration: none;
}

.krpano-wrapper .right-content .share-link {
    background-color: #3A3A3C;
    background-position: 15px 40%;
    background-repeat: no-repeat;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    height: 40px;
    line-height: 20px;
    margin-bottom: 5px;
    padding-left: 70px;
    padding-top: 15px;
    text-decoration: none;
    width: 204px;
}

.krpano-wrapper .right-content .share-link.like {
  background-image: url("../images/me_gusta.png");
}

.krpano-wrapper .right-content .share-link.notlike {
  background-image: url("../images/no_me_gusta.png");
}

.krpano-wrapper .right-content .share-link.favorites {
  background-image: url("../images/enviar_a_favoritos.png");
}

.krpano-wrapper .right-content .social {
  background-color: #000000;
  padding: 0;
}

.krpano-wrapper .right-content .social div {
  padding: 0;
}

.krpano-wrapper .right-content .social .facebook {
  float: left;
  width: 50%;
}

.krpano-wrapper .right-content .social .facebook a {
  background-image: url("../images/fb_like.png");
  color: transparent;
  float: left;
  height: 23px;
  margin: 7px 0 0 20px;
  width: 100px;
}

.krpano-wrapper .right-content .social .tweeter {
  float: right;
  width: 49%;
}

.krpano-wrapper .right-content .social a {
  background-image: url("../images/tweet.png");
  color: transparent;
  float: left;
  height: 23px;
  margin: 7px 0 0 20px;
  width: 100px;
}

.krpano-wrapper .comments,
.krpano-wrapper .user-favorites {
  float: left;
  margin-top: 29px;
  width: 100%;
}

.krpano-wrapper .comments .title,
.krpano-wrapper .user-favorites .title {
  background-image: url("../images/comentarios.png");
  background-position: 10px 50%;
  background-repeat: no-repeat;
  padding-left: 50px;
  padding-top: 10px;
}

.krpano-wrapper .comments .content {
  padding-top: 20px;
}

.krpano-wrapper .comments .author {
  color: #76CBD1;
}

.krpano-wrapper .comments a,
.krpano-wrapper .comment a {
  margin-left: 20px;
  font-style: italic;
  font-weight: lighter;
}

.krpano-wrapper .comments .text {
  margin-left: 0px;
  font-size: 14px;
  font-weight: bold;
  line-height: 30px;
}
/*End Image 360*/
/*Results*/
.result-wrapper {
  margin-left: 25px;
}

.result-item {
  float: left;
  margin-bottom: 25px;
  margin-right: 50px;
  width: 245px;
}

.result-item .title {
  background-color: #666666;
  color: #FFFFFF;
  font-size: 10pt;
  font-weight: bold;
  padding: 0 0 0 5px;
  height: 16px;
  overflow: hidden;
}

.result-item .region {
  font-size: 9pt;
  padding: 0 0 0 5px;
}

.result-item .image {
  background-color: #666666;
  height: 143px;
}

.result-item .visits {
  background-color: #3A3A3B;
  color: #63CBA3;
  font-size: 12px;
  text-align: right;
}

.result-item .rank {
  float: left;
  width: 75px;
  height: 15px;
  background-color: grey;
}

.result-item div {
  height: 15px;
  text-align: right;
  color: black;
}

.result-item .one {
  background-image: url("../images/rank/one.png");
}

.result-item .two {
  background-image: url("../images/rank/two.png");
}

.result-item .tree {
  background-image: url("../images/rank/tree.png");
}

.result-item .four {
  background-image: url("../images/rank/four.png");
}

.result-item .hand {
  float: left;
  height: 15px;
  width: 15px;
  background-image: url("../images/rank/hand.png");
  margin-left: 5px;
}

.result-item .image img {
  width: 245px;
  height: 143px;
}
/*End Results*/
/*Search Page*/
.search-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 25px;
}
.search-result a {
  color: #9AB33B;
  text-decoration: none;
}
/*End Search Page*/
/*Login page*/
.rpx-links a {
  color:#FFF;
  text-decoration: none;
}
.tabs li a {
  background-color: #000 !important;
  color: #FFF;
}

.tabs li a.active {
  background-color: #000 !important;
  color: #9BB43C;
  font-weight: bold;
}
/*End Login page*/

/*News Page*/
#aggregator a,
.page-news .block-aggregator a {
  text-decoration: none;
  color: #9AB33B;
}
/*End News Page*/
/*Favotites page*/
.page-myfavorites-360 {
  background-color: #425A10;
}
/*End Favorites page*/